<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styl.css') }}">
</head>
<body>
    <div class="a">
    <h1>Index Page</h1>
    <form action="" method="post">
        <input type="text" name="name" placeholder="name"><br><br>
        <input type="text" name="age" placeholder="age"><br><br>
        <input type="text" name="email" placeholder="email"><br><br>
        <input type="submit" value="Add"><br><br><br>
        
    </form>
    </div>
</body>
</html>